nav {
    background-color: black;
    width: 100%;
    color: white;
    padding: 10px;
}
#but {
    background-color: black;
    color: white;
    padding: 5px;
}
h1 {
    font-weight: lighter;
}